*,
*::before,
*::after {
  font-style: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #ffffff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header .container {
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.nav-link {
  display: flex;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bbf330;
}

.nav-button {
  display: none;
}

.mobile-menu {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  width: 170px;
  height: 311px;
  z-index: -1;
  background-color: #bbf330;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  z-index: 100;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }
}

.mobile-link-current {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #2c2c2c;
}

.mobile-link {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close {
  position: absolute;
  top: 13px;
  right: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 16px;
  gap: 32px;
  margin-bottom: auto;
}

.open-menu {
  width: 24px;
  height: 18px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu .icon-menu {
  fill: #7eb101;
}

.open-menu:hover .icon-menu,
.open-menu:focus .icon-menu {
  fill: #ffe550;
}

@media screen and (min-width: 768px) {
  .open-menu {
    display: none;
  }
}

.main {
  margin-bottom: 60px;
  margin-top: 60px;
}

.special .container {
  max-width: 100%;
  background-image: url(/images/yellow_mobile@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.main-title {
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 28px;
}

.main-text {
  line-height: 143%;
  padding-bottom: 32px;
}

.main-button {
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  background-color: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: right;
  border: none;
}

.main-button:hover,
.main-button:focus {
  background: #ffe450;
}

.special-img {
  padding-top: 60px;
  margin: 0 auto;
}

.icon-shadow {
  border-radius: 100%;
  fill: radial-gradient(
    50% 50% at 50% 50%,
    rgb(47, 88, 63) 0%,
    rgb(105, 105, 105) 100%
  );
  filter: blur(13.23636531829834px);
  display: flex;
  text-align: center;
}

.special-title {
  padding-top: 60px;
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 28px;
}

.special-text {
  line-height: 143%;
  padding-bottom: 28px;
}

.special-icons {
  padding-bottom: 16px;
}

.special-list-title {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 16px;
}

.special-list-text {
  line-height: 143%;
  padding-bottom: 28px;
}

.special-row {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}

.special-button {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-button:hover,
.special-button:focus {
  background: #bbf330;
  border: none;
}

.special-more {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 150%;
  color: #000;
  text-decoration: none;
}

.icon-right-arrow {
  margin-left: 4px;
}

.fav-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
}

.fav-text {
  text-align: center;
  padding-bottom: 60px;
}

.fav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
}

.fav-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 11px solid #ffe550;
  border-radius: 140px;
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.fav-img {
  margin: 0 auto;
}

.reviews-title {
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 20px;
}

.reviews-text {
  padding-bottom: 40px;
}

.reviews-star {
  padding-bottom: 28px;
}

.reviews-feedback {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 40px;
}

.rewiews-profile {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  gap: 16px;
}

.reviews-divider {
  border: 0.85px solid #7eb101;
  width: 52px;
  height: 0px;
  transform: rotate(-90deg);
}

.profile-title {
  padding-bottom: 6px;
}

.subscribe-img {
  padding-bottom: 17px;
}

.subscribe-title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
}

.subscribe-text {
  padding-bottom: 40px;
}

.form-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  background: #fff;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  margin-bottom: 20px;
}

.form-input:hover,
.form-input:focus {
  border-color: #ffe550;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-input:valid {
  border-color: #7eb101;
}

.form-input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
}

.error-message {
  color: #ff705d;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  font-size: 10px;
  line-height: 150%;
}

.form-input:invalid:not(:placeholder-shown) + .error-message + .attention {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.error-container {
  display: none;
}

.subscribe-input {
  position: relative;
}

.form-button {
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background-color: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  border: none;
  align-items: flex-end;
}

.form-button:hover,
.form-button:focus {
  background: #ffe450;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 60px;
}

.foot {
  margin: 0 auto;
  background: #fff;
  height: 619px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/frame_mobile@1x.png);
}

.foot-info {
  display: flex;
  padding-bottom: 40px;
}

.foot-menu {
  padding-left: 46px;
  text-align: center;
}

.foot-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foot-nav {
  text-decoration: none;
  color: #000;
}

.foot-subscribe {
  font-weight: 500;
  line-height: 150%;
  padding-bottom: 12px;
}

.foot-email-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 24px;
}

.foot-form-button {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 35px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-form-button:hover,
.foot-form-button:focus {
  border: 2px solid #ffe450;
}

.foot-privacy {
  font-size: 10px;
}

.privacy-sentence {
  padding-bottom: 60px;
}

.policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.foot-link {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.foot-link-item {
  font-size: 10px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.foot-rights {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 30px;
  height: 449px;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  display: flex;
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .modal-overlay {
    display: none;
  }
}

.modal {
  background-color: #ffe550;
  border-radius: 30px;
  width: 320px;
  height: 449px;
  padding: 32px 20px;
  position: relative;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.modal-title {
  text-align: center;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.modal-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.modal-label {
  padding-bottom: 2px;
  padding-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.input-container {
  position: relative;
}

.modal-input {
  padding: 14px 12px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  font-size: 14px;
  border: 1px solid #7eb101;
  border-radius: 30px;
  width: 280px;
  height: 48px;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #7eb101;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-input:valid {
  border-color: #7eb101;
}

.modal-input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
}

.submit {
  margin-top: 8px;
  background-color: #bbf330;
  font-size: 16px;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  text-align: center;
}

.submit:hover,
.submit:focus {
  background-color: #ffe450;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #bbf330;
  border: 2px solid #7eb101;
}
